</a>
    <link rel="stylesheet" href="styles_tc.css">
    <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
    <label for="menu-icon"></label>
    <nav class="nav"> 		
        <ul class="pt-5">
            <li><a href="/components/jose/learning_center.html">Learning Center</a></li>
            <li><a href="/games/andrew/index.html">Flappy Alien</a></li>
            <li><a href="/games/karishma/index.html">Astronaut Quiz</a></li>
            <li><a href="/games/noonliiess/index.html">Slide Puzzle</a></li>
            <li><a href="/games/jose/index.html">Space Quiz</a></li>
            <li><a href="/games/chris/index.html">Memory Game</a></li>
            <li><a href="/games/ekene/index.html">Quiz App</a></li>
            <li><a href="/games/john/mathDefense.html">Math Defense</a></li>
        </ul>
    </nav>

    <div class="section-center">
        <h1 class="mb-0">Astronaut Training</h1>
    </div>