<!DOCTYPE html>
<html>

<head>
  <title>JavaScript</title>
  <script src="smtp.js"></script>
  <script type="text/javascript">
    function sendEmail(email) {
      console.log('hello there');
      Email.send({
        Host: "smtp.elasticemail.com",
        Username: "astronaut.hood@gmail.com",
        Password: "452FFB09FF934F97DBD2C81E74F7A978A8BE",
        To: email,
        From: "astronaut.hood@gmail.com",
        Subject: "Welcome to Astronaut Training!",
        Body: "Dear " + email + ","+
                " Thank you for joining Astronaut Training." +
                " We hope you will gets lots of enjoyment out of it! ",
      });
    }
  </script>
</head>

<body>
<script type="text/javascript" src="astronautData.js"></script><br><br>

  <form action="/" method="post">
    <label for="username field">Username:</label><br>
    <input type="text" id="username field"><br>
    <label for="password field">Password:</label><br>
    <input type="text" id="password field"><br>
    <label for="email field">Email:</label><br>
    <input type="text" id="email field"><br><br>
    <input type="submit" value="Submit"
           onclick="createNewUser(document.getElementById('username field').value,document.getElementById('password field').value,document.getElementById('email field').value)">
  </form>
</body>
</html>