<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<!-- ----------- forgot password page -------------------->
    <title> Forgot Password </title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <script defer src="forgotPassword.js"></script>  
<div class="center">
    <h1>Forgot Password</h1>
    <form id="forgotPassword-form">
        <div class="txt_field">
            <input type="text" name="username" required>
            <span></span>
            <label for="username"> Username</label>
        </div>
        <div class="txt_field">
            <input type="email" name="email" required>
            <span></span>
            <label for="email">Email</label>
          </div>
        <input type="submit" value="Show Password" id="forgotPassword-form-submit">
    </form>
</div>
</body>
</html>