<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

<!-- ----------- Login page -------------------->
    <title> Login Form </title>
    <link rel="stylesheet" href="style.css">
    <script defer src="astronautData.js"></script>    
</head>
<body>
<div class="center">
    <h1>Login</h1>
    <form id="login-form">
        <div class="txt_field">
            <input type="text" name="username" required>
            <span></span>
            <label for="username"> Username</label>
        </div>
        <div class="txt_field">
            <input type="password" name="password"required>
            <span></span>
            <label for="password" >Password</label>
        </div>
        <div class="pass">
           <a href="forgotPassword.html">Forgot Password?</a>
        </div>
        <input type="submit" value="Login" id="login-form-submit">
        <div class="signup_link">
            Not a member? <a href="signup.html">Sign up</a>
        </div>
    </form>
</div>
<!-- Astronaut Training Logo----->
 <div class="main">
    <img id="title" src="astronautTrainingLogo.png">
    </div> 
</body>
</html>




